[user]
	name = Bjørn Forsman
	email = bjorn.forsman@gmail.com
[color]
	ui = auto
[alias]
	st = status
	df = diff
	ci = commit
	co = checkout
	wc = whatchanged
	br = branch
	f = fetch
	a = add
	l = log
	lga = log --graph --pretty=oneline --abbrev-commit --decorate --all
[sendemail]
	smtpserver = /usr/bin/msmtp

[diff "word"]
	textconv = antiword
